.App {
  text-align: center;
}
.button {
  padding: .5em;
}
.card {
  padding: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form, .list_row {
  display: flex;
  justify-content: center;
}
.form_input{
  margin: .5em;
  max-width: 40%;
}
.lists {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navlist {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.navlist--item {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0 .2em;
  margin: 0 .2em;
}
