.App {
  text-align: center;
}
.card {
  padding: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
}
.lists {
  display: flex;
}
