.App {
  text-align: center;
}
.card {
  padding: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
}
.form_input{
  margin: .5em;
  max-width: 40%;
}
.list {
  display: flex;
  flex-direction: column;
}
.lists {
  display: flex;
}
